@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    /* background-color: rgba(78, 73, 73, 0.9); */
    background: linear-gradient(75deg, #585858, #000000);
    min-height: 100%;
}

@media only screen and (max-width: 375px) {
    .buttonsWrap {
        flex-direction: column;
    }
    .surahName {
        font-size: 5px;
    }
    
    .player input {
        width: 100%;
        margin: 30px 0;
    }
    #readAllSurah {
        margin: 0 auto;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.surahName {
    color: #fff;
    font-size: 50px;
}

.player {
    margin-top: 50px;
    width: 100%;
    margin-bottom: 50px;
}

.player audio {
    width: 100%;
    height: 50px;
    margin: 30px 0 30px 0;
}

.player input {
    float: right;
    width: 20%;
    padding: 7px 10px;
    border-radius: 20px;
    outline: none;
    border: none;
    background: rgb(219, 217, 217);
}

#readAllSurah {
    display: flex;
    align-items: flex-end;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 17px;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    font-size: 15px;
}

.buttonsWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttonsWrap .icon {
    margin: 30px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    padding: 8px 8px 8px 10px;
}

.buttonsWrap .icon.prev {
    padding: 8px 10px 8px 8px;
}

.buttons {
    display: flex;
    align-items: center;
}


.surahs {
    text-align: right;
}

.surahs #ayahs h1 {
    margin-bottom: 20px;
    color: rgb(8, 8, 8);
    font-size: 50px;
}

.surahs #ayahs li {
    background: rgb(175, 170, 170);
    padding: 30px;
    margin-bottom: 35px;
    border-radius: 20px;
    list-style-type: none;
    cursor: pointer;
}